<div class="is-mobile" id="all-filtered-options">
    <form class="filter-option" action="guest-book/phone-search" method="GET">
        <input class="input" type="search" name="phone" placeholder="Phone Number">
        <input class="button" type="submit" value="Search">
    </form>
</div>