<div id="all-filtered-options">
    <form class="filter-option" action="/guests/search" method="GET">
        <input class="input" type="search" name="name" placeholder="First name">
        <input class="button" type="submit" value="Search">
    </form>
    <form class="filter-option" action="/guests/filter-date-and-time" method="GET">
        <input class="input" type="date" name="date">
        <input class="input" type="time" name="time">
        <input class="button" type="submit" value="Filter Date & Time">
    </form>
    <form action="/guests/view-all" method="GET">
        <input class="button black-btn" type="submit" value="View All">
    </form>
</div>