<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>TableRes Manager</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class="title is-4" id="logo" href="/guests">TableRes</a></li>
            <li><a href="/guests" class="nav-date"><%= today %></a></li>
            <div class="brand-container">
                <li><a class="navbar-item nav-link" id="nav-link-guest-book" href="/guests/guest-book">Guest Book</a></li>
                <!-- <li><a class="navbar-item nav-link" id="nav-link-profile" href="/guests/profile">Profile</a></li> -->
                <li><a class="button yellow-btn" href="/guests/new">Add Booking</a></li>
            </div>
        </ul>
    </nav>
</header>
<main id="wrapper">
