<header>
    <nav id="main-nav">
        <ul>
            <li><a class="title is-5">TableRes</a></li>
            <li><a class="button" id="add-booking-btn" href="/guests/new">Add Booking</a></li>
        </ul>
    </nav>
</header>
<main>